/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: 'Bebas_Neue_Cyrillic';
  src: url(../fonts/Bebas_Neue_Cyrillic.ttf);
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: 'Montserrat-SemiBoldItalic';
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf);
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

a:hover {
  color: #C2331A;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #A6A6A6;
  color: #272727;
  font-family: "Montserrat-SemiBoldItalic", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  border: none;
  border-bottom: 30px solid #272727;
  border-top: 30px solid #272727;
}

@media screen and (min-width: 900px) {
  .container {
    width: 1200px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 1px;
  }
}

@media print {
  body {
    margin-top: -70px;
  }
  .container {
    width: 1200px;
    padding-left: 20px;
    padding-right: 120px;
  }
}

p {
  margin-bottom: 10px;
}

section {
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
}

.foto {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mainInfo {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.mainInfo__name {
  font-family: "Bebas_Neue_Cyrillic", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 95px;
  margin-bottom: 10px;
}

.mainInfo__specialization {
  color: #C2331A;
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 30px;
  margin-bottom: 40px;
}

.contactsList a {
  margin-bottom: 10px;
}

.section__title {
  color: #C2331A;
  margin-bottom: 10px;
  margin-left: 5px;
  text-transform: uppercase;
  font-family: "Bebas_Neue_Cyrillic", sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
}

.sectionProjects__list .sectionProjects__item {
  margin-bottom: 10px;
}

.sectionProjects__link {
  display: inline-block;
}

.sections__line {
  border: none;
}

.strip--top,
.strip--bottom {
  width: 100%;
  height: 0px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-bottom: 30px solid #ffffff;
}

.functionalButtonsBox {
  position: absolute;
  top: 30px;
  right: 10px;
}

.pdfConverter {
  width: 60px;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.container:hover .pdfConverter {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.print {
  width: 60px;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container:hover .print {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 900px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .foto {
    max-height: 500px;
  }
  .headerSection {
    padding-left: 40px;
  }
  .mainInfo {
    padding-left: 60px;
  }
  .contactsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 10px;
  }
  .section__title {
    text-align: left;
  }
  .sectionsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sectionsList .sectionsList__item {
    margin-right: 40px;
  }
  .sectionsList .sectionsList__item:first-child {
    width: 38%;
  }
  .sectionsList .sectionsList__item:nth-child(2) {
    width: 38%;
  }
  .sectionsList .sectionsList__item:last-child {
    width: 24%;
    margin-right: 0;
  }
  .sections__container {
    position: relative;
  }
  .sections__line {
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    position: absolute;
    bottom: 0;
    border-bottom: 3px solid #272727;
  }
  .strip--top,
  .strip--bottom {
    width: 1200px;
  }
}

@media print {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .foto {
    max-height: 500px;
  }
  .headerSection {
    padding-left: 40px;
  }
  .mainInfo {
    padding-left: 60px;
  }
  .contactsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 10px;
  }
  .section__title {
    text-align: left;
  }
  .sectionsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sectionsList .sectionsList__item {
    margin-right: 40px;
  }
  .sectionsList .sectionsList__item:first-child {
    width: 38%;
  }
  .sectionsList .sectionsList__item:nth-child(2) {
    width: 38%;
  }
  .sectionsList .sectionsList__item:last-child {
    width: 24%;
    margin-right: 0;
  }
  .sections__container {
    position: relative;
  }
  .sections__line {
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    background-color: #272727;
    position: absolute;
    bottom: 0;
    border: none;
    border-bottom: 3px solid #272727;
  }
  .strip--top {
    margin-top: 40px;
  }
  .strip--bottom {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.3);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  min-width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 55px;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  fill: #272727;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(0, -300%) scale(0.2);
          transform: translate(0, -300%) scale(0.2);
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  fill: #C2331A;
  border: 3px solid #272727;
}

.modal__header {
  font-size: 18px;
}

.modal-list-item:hover a, .modal-list-item:focus a {
  fill: #C2331A;
  color: #C2331A;
}

.modal-list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

@media screen and (min-width: 900px) {
  .modal {
    min-width: 40vw;
  }
}

.modalEnglish__Backdrop {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalEnglish {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  padding: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modalEnglish__CloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #272727;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.modalEnglish__CloseBtn:hover, .modalEnglish__CloseBtn:focus {
  fill: #C2331A;
  border: 3px solid #272727;
}

.modalEnglish__LeftBtn,
.modalEnglish__RightBtn {
  position: absolute;
  top: 25%;
  width: 8%;
  height: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.modalEnglish__LeftBtn:hover,
.modalEnglish__RightBtn:hover {
  fill: #C2331A;
  scale: 1.2;
}

.modalEnglish__LeftBtn svg,
.modalEnglish__RightBtn svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.modalEnglish__LeftBtn {
  left: 0px;
}

.modalEnglish__LeftBtn svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.modalEnglish__RightBtn {
  right: 0px;
}

.modalEnglish__RightBtn svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.certificatesList {
  width: 100%;
  height: 100%;
}

.certificatesList__container {
  position: relative;
  width: 70vw;
  height: calc(595/842*70vw);
  max-width: 842px;
  max-height: 595px;
  overflow: hidden;
}

.certificatesList li {
  width: 100%;
  position: absolute;
  left: 100%;
  top: 0;
}

@media print {
  .modalEnglish {
    top: 100%;
    left: 20%;
    -webkit-transform: scale(1);
            transform: scale(1);
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .modalEnglish__CloseBtn,
  .modalEnglish__RightBtn,
  .modalEnglish__LeftBtn {
    display: none;
  }
  .certificatesList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .certificatesList__container {
    overflow: visible;
  }
  .certificatesList li {
    width: 730px;
    position: static;
  }
}
/*# sourceMappingURL=main.css.map */