.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    background-color: $additional-color;
    position: relative;

    &__strip--dark {
        width: 100%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        background-color: $main-color;
    }
    &__strip--white {
        width: 100%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        background-color: $additional-color;
    }

    
}
@media screen and (min-width: 720px){
    .container {
        width: 1200px;
        &__strip--dark {
            width: 1200px;
        }
        &__strip--white {
            width: 1200px;
        }
    
        &__line {
            width: 1060px;
            margin-left: auto;
            margin-right: auto;
            height: 2px;
            background-color: $main-color;
            position: absolute;
            bottom: 0;
            
    
        }
    }
}