.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-bottom: 0px;
    background-color: $additional-color;
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 900px){
    .container {
        width: 1200px;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 3px;
    }
}
@media print {
    body {
        margin-top: -70px;
    }
    .container {
        width: 1200px;
        padding-left: 20px;
        padding-right: 120px;
    }
}