p {
    margin-bottom: 10px;
}
section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.foto {
    
    object-fit:cover;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mainInfo {
    padding-top: 10px;
    padding-bottom: 20px;
    &__name {
        font-family: $accent-font;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-size: 95px;
        margin-bottom: 10px;
    }
    &__specialization{
        color: $accent-color;
        font-family: $high-accent-font;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 30px;
        margin-bottom: 40px;
    }
}

.contactsList {
    a {margin-bottom: 10px;}
}

.section__title{
    color: $accent-color;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: $accent-font;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.1em;

}
.sectionProjects__list {
    .sectionProjects__item {
        margin-bottom: 10px;
    }
}
.sectionProjects__link {
    display: inline-block;
}

@media screen and (min-width: 720px){
    .headerContainer { 
        display: flex;
        padding-top: 40px;
    }
    .foto {
        max-height: 500px; 
    }
    .headerSection {
        padding-left: 40px;
    }
    .mainInfo {
        padding-left: 60px;
    }
    .contactsList {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        // a {margin-bottom: 10px;}
    }
    .sectionsList {
        display: flex;
        .sectionsList__item{margin-right: 40px;}
        .sectionsList__item:first-child{
            max-width: 35%;
        }
        .sectionsList__item:nth-child(2){
            max-width: 35%;
        }
        .sectionsList__item:last-child{
            max-width: 30%;
            margin-right: 0;
        }
    }
    .sectionProjects__list {
        .sectionProjects__item:first-child {
            margin-bottom: 50px;
        }
    }
}