.modalPDFdownload__Backdrop {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
 
  .modalPDFdownload {
    min-width: 80vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: scale(0);
    padding: 55px;
    background-color: $additional-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    fill: $main-color;
  }
  
  .modalPDFdownload__CloseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    height: 40px;
    width: 40px;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: $additional-color;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    @include trans-func();

    &:hover,
    &:focus {
      fill: $accent-color;
      border: 3px solid $main-color;
    }
  }

  .modalPDFdownload__header {
    font-size: 18px;
  }
  
  .modalPDFdownload-list__item {
      &:hover,
      &:focus {
        a {
          fill: $accent-color;
          color: $accent-color;
        }
      }
      a {
        display: flex;
        padding: 10px;
      }
    }
    
    @media screen and (min-width: 900px) {
      .modalPDFdownload {
        min-width: 40vw
      }
    }

    @media print {
      .modalPDFdownload__Backdrop {
        display: none;
      }
    }