.modalEnglish__Backdrop {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
  }
  
  .modalEnglish {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 55px;
    background-color: $additional-color; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    fill: $main-color;
  }
  
  .modalEnglish__CloseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $additional-color;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    @include trans-func();

    &:hover,
    &:focus {
      scale: 1.1;
      fill: $accent-color;
      border: 3px solid $main-color;
    }
    &:active {
      scale: 0.5;
    }
  }

  .modalEnglish__LeftBtn,
  .modalEnglish__RightBtn {
    position: absolute;
    top: 35%;
    width: 90px;
    height: 160px;
    padding: 0;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    // @include trans-func();
    
    &:hover,
    &:focus {
      fill: $accent-color;
    }
    & svg {
      @include trans-func();
      &:hover,
      &:focus {
        scale: 1.2;
      }
      &:active {
        scale: 0.5;
      }
    }
  }
  .modalEnglish__LeftBtn {
    left: -475px;
    & svg {
      transform: rotate(-90deg); 
    }
  }
  .modalEnglish__RightBtn {
    right: -475px;
    & svg {
      transform: rotate(90deg); 
    }
  }
  
  .certificatesList {
    width: 100%;
    height: 100%;
    &__container {
      position:relative;
      width: 70vw;
      height: calc(595/842*70vw);
      max-width: 842px;
      max-height: 595px;
      overflow: hidden;
    }
    & li {
      width: 100%;
      position: absolute;
      left: 100%;
      top: 0;
    }
  }

  @media print {
    .modalEnglish__Backdrop {
      opacity: 1;
    }
    .modalEnglish {
      top: 0;
      left: 20%;
      padding: 0;
      box-shadow:none;
    }
    .modalEnglish__CloseBtn,
    .modalEnglish__RightBtn,
    .modalEnglish__LeftBtn {
      display: none;
    }

    .certificatesList {
      flex-direction: column;
      &__container {
        overflow:visible;
      }
      & li{
        width: 730px;
        position: static;
      }
    }
  }