// Basic teg-style settings
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  // background-color: red;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: $outside-color;
  color: $main-color;
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
