@font-face {
    font-family: 'Bebas_Neue_Cyrillic';
    src: url(../fonts/Bebas_Neue_Cyrillic.ttf);
  }

  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../fonts/Montserrat-SemiBold.ttf);
  }
  
  @font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url(../fonts/Montserrat-SemiBoldItalic.ttf);
  }
  @font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  }