
$main-color: #272727;
$accent-color: #C2331A;
$additional-color: #ffffff;
$outside-color: #A6A6A6;

$main-font: "Montserrat-SemiBoldItalic", sans-serif;
$accent-font: "Bebas_Neue_Cyrillic", sans-serif;
$high-accent-font: "Montserrat-ExtraBold", sans-serif;
